<!DOCTYPE html>
<html ng-app="chatapp">
<head>
    <meta charset="UTF-8">
    <title>Simple Chat</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js" ></script>
    <script src="js/app.js" ></script>
    <script src="js/MessagesController.js" ></script>
</head>
<body>
<h2>Messages</h2>

<div ng-controller="MessagesController as messagesController">

    <form ng-submit="messagesController.send()" name="chatform">
        <input name="username" placeholder="Introduce yourself" type="text" ng-model="username" >
        <input name="msgtext" placeholder="Type your message..." type="text" ng-model="chatmessage.message" >
        <input type="submit" value="send"/>
    </form>

    <ul>
        <li ng-repeat="msg in messages">
            <span>At {{msg.dateTime}}</span>
            <span>{{msg.author}} wrote:</span>
            <span>{{msg.message}}</span>
        </li>
    </ul>

</div>
</body>
</html>